# -*- coding: utf-8 -*-

{% include '_do_not_change.j2' %}

# models are for SQL-alchemy

from marshmallow import fields
from flask_sqlalchemy import SQLAlchemy
db = SQLAlchemy()


{%- for name, schema in schemas.iteritems() %}


class {{ name }}(db.Model):
    {%- for n, field in schema.fields.iteritems() %}
    {{n}} = db.Column(db.{{ field }})
    {%- endfor %}

{%- endfor %}

