# -*- coding: utf-8 -*-

{% include '_do_not_change.j2' %}

from models import {{', '.join(schemas.keys())}}
from flask_marshmallow import Marshmallow
ma = Marshmallow()

{%- for name, schema in schemas.iteritems() %}


class {{ name }}Schema(ma.ModelSchema):
    class Meta:
        model = {{name}}

{%- endfor %}
